body {
    display: grid;
    /**background-color: rgb(16, 18, 109);*/
    justify-content: center;
    /**color: white; */
    font-size: 20px;
}


.titleDiv {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    text-align: center;
}

.titleDiv a {
    font-family: 'Bungee Spice', cursive;
    font-size: 40px;
}
  
h1 {
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto;
}
 
#question {
    padding:20px;
    border: 2px ridge black;
}
  
.topContainer {
    display: grid;
    justify-content: center;
    text-align: center;
    justify-items: center;
    position: relative;
}

.container {
    display: grid;
    width: 1fr;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
 }

.choiceContainer {
    display: flex;
}

.multipleChoice {
    width: 5ch;
    padding: 5px;
    text-align: center;
    margin: 5px 5px;
}


.multipleChoice:hover {
    opacity: .8;
}
  
 
.playButtonContainer {
    margin: 0px auto;
    justify-content: center;
}

.playButton {
    padding: 5px;
    margin: 15px;
    width: 9ch;
    height: 9ch;
    border-radius: 50%;
    border-width: 2px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    background-color: lightgreen;
}


.playButton:hover {
    opacity: .8;
}

.resultContainer {
    margin: 0 auto;
    text-align: center;
}

@keyframes rotateY {
    100% {rotate: y 180deg }
}

.animate {
    animation: rotateY .1s 1 linear;
    width: 5ch;
    padding: 5px;
    text-align: center;
    margin: 5px 5px;
}


.message {
    position: absolute;
    display: block;
    text-align: center;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    background-color: whitesmoke;
    border-radius: 20px;
    width: max-content;
    height: fit-content;
    font-size: 20px;
    z-index: 9999;
  
}
  
.message {
    border: 10px ridge #F55C47;
    padding-bottom: none;
}
  
.messageText {
    padding: 0px 10px;
}