body {
  display: grid;
  /**background-color: rgb(16, 18, 109);*/
  justify-content: center;
  /**color: white; */
}


.titleDiv {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

.titleDiv a {
  font-family: 'Bungee Spice', cursive;
  font-size: 25px;
}

h1 {
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto;
}

#question {
  padding:10px;
  border: 2px ridge black;
  font-size: 20px;
}

.topContainer {
  display: grid;
  justify-content: center;
  text-align: center;
  justify-items: center;
  position: relative;
}

.container {
  display: grid;
  width: 1fr;
  justify-content: center;
  text-align: center;
  margin: 3px auto;
}

.choiceContainer {
  display: flex;
  height: fit-content;
}

.multipleChoice {
  width: 60px;
  height: 60px;
  padding: 5px;
  text-align: center;
  margin: 5px 5px;
  font-size: 20px;
  align-self: center;
}

#choiceA, #choiceB, #choiceC, #choiceD {
  font-size: 20px;
  margin-left: 2ch;
  width: 100%;
}


.multipleChoice:hover {
  opacity: .8;
}


.playButtonContainer {
  margin: 0px auto;
  justify-content: center;
}

.playButton {
  padding: 5px;
  margin: 15px;
  width: 9ch;
  height: 9ch;
  border-radius: 50%;
  border-width: 2px;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  background-color: lightgreen;
}


.playButton:hover {
  opacity: .8;
}

.resultContainer {
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}

@keyframes rotateY {
  100% {rotate: y 180deg }
}

.animate {
  animation: rotateY .1s 1 linear;
  width: 5ch;
  padding: 5px;
  text-align: center;
  margin: 5px 5px;
}


.message {
  position: absolute;
  display: block;
  text-align: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  background-color: whitesmoke;
  border-radius: 20px;
  width: max-content;
  height: fit-content;
  font-size: 20px;
  z-index: 9999;

}

.message {
  border: 10px ridge #F55C47;
  padding-bottom: none;
}

.messageText {
  padding: 10px 10px;
}


@media (min-width: 900px) {
  .topContainer {
    max-width: 840px;
  }
  #question {
    font-size: 30px;
  }

  .playButton {
    width: 9ch;
    height: 9ch;
    font-size: 40px;
  }

  .multipleChoice {
    font-size: 25px;
    align-self: center;
  }

  #choiceA, #choiceB, #choiceC, #choiceD {
    font-size: 30px;
    
  }

  .titleDiv a {
    font-size: 40px;
  }

}
